# Environments
.env
.venv
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data and Cache files
data/
temp_imagens/
temp_json_cache/
*.json
!specs/*.json
*.html
*.log
*.sqlite
*.db
*.xlsx
*.csv

# Dependencies/Others
poppler-*/
scrapers/teste.py
teste.py
app_mercado.bat
.ngrok.exe.old
@teste-limpo/
backup_antes_simplificacao/
ssh-key-2026-06-03.key
teste.py

# Binários e temporários da gravação atômica
ngrok.exe
*.tmp
